<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javabreak">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".notifications.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_free_breakfast_dialog"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaBreak">
        <activity android:name=".MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:name=".notifications.AlertReceiver" />
        <receiver android:name=".notifications.ScheduledNotificationReceiver" />
        <receiver android:exported="false" android:name=".notifications.NotificationReceiver" />
    </application>
</manifest>